<div class="col-xs-6 col-sm-6 col-md-4">
  <div class="thumbnail card">
    <img src="http://www.kontrokultura.it/wp-content/uploads/2014/06/spiaggia-nissi-beach.jpg">
    <div class="title">
      <h3 class="hidden-xs">XXX</h3>
      <h5 class="visible-xs">XXX</h5>
    </div>
    <div class="caption">
      ...
    </div>
  </div>
</div>