<div class="row">
  <div class="col-sm-12 hidden-md hidden-lg center">
    <%= link_to("Apply filters", filters_show_path, remote: true) %>
    <br><br>
  </div>
</div>
<div class="row">
  <%= render partial: "available_lesson", collection: @available_lessons %>
</div>
