<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="thumbnail element">
    <% if @profile.picture? %>
        <%= image_tag @profile.picture.url %>
    <% end %>
    <div class="caption">
      <h3><%= @profile.title %></h3>
    </div>
  </div>
</div>