<div class="row">
  <div class="col-md-6 col-md-offset-3">

  Welcome to this profile belonging to <%= @profile.first_name %> <%= @profile.last_name %>.
  <br>
      <% if @profile.profile_picture? %>
        <%= image_tag @profile.profile_picture.url %>
      <% else %>
        <p> Looks like you don't have a picture yet! </p>
    <% end %>
  </div>
</div>
