<h3><i class='glyphicon glyphicon-info-sign'></i> Lesson of: <%= @lesson_detail.topic.title %></h3>
<p>Country: <%= @lesson_detail.country %></p>
<p>City: <%= @lesson_detail.city %></p>
<p>Address: <%= @lesson_detail.address %></p>
