<div class="row">
  <%= render @topics %>

  <%= link_to(new_topic_path) do %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="element-btn">
        <h3><i class="glyphicon glyphicon-plus"></i> Create new topic</h3>
      </div>
    </div>
  <% end %>
</div>