<h1>Topics#show</h1>
<p>Find me in app/views/topics/show.html.erb</p>

<p><strong>Topic name:</strong> <%= @topic.name %></p>
<p><strong>Address:</strong> <%= @topic.address %>, <%= @topic.city %> - <%= @topic.country %></p>