<div class="col-xs-12 col-sm-12 col-md-6">
  <%= link_to([@topic, lesson]) do %>
      <div class="thumbnail element">
        <div class="caption">
          <h4><%= lesson.lesson_date.strftime("%A, %d %B %Y") %></h4>
        </div>
        <div class="caption card-meta">
          <span><i class="glyphicon glyphicon-user"></i> <%= lesson.subscribed_users.count %></span>
        </div>
      </div>
  <% end %>
</div>